.copyright {
    background: black !important;
}
.footer.content .links a {
    color: white !important;
}
.footer.content .links > li {
    background: black !important;
}
.header.content {
    padding: 0 !important;
}
#herencia-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 145px;
    width: 500px;
    height: 400px;
}
#logo-background {
    position: relative;
    bottom: 35px;
    height: 850px;
    background-size: 1900px 850px !important;
}
.logo {
    display: none !important;
}
#maincontent {
    margin-top: 35px;
}
.minicart-wrapper {
    position: fixed !important;
    top: 22px;
    right: 235px;
    z-index: 11;
}
.minicart-wrapper .action.showcart:before {
    font-size: 30px !important;
    color: white !important;
}
.nav-logo {
    position: absolute;
    height: 45px;
    width: 100px;
}
.navigation {
    background-color: black !important;
    text-align: center;
    max-width: 440px !important;
}
.navigation .level0 .submenu a:hover,
.navigation .level0 .submenu a.ui-state-focus {
    color: black !important;
}
.navigation .level0 {
    margin: 0 30px 0 0;
    font-size: 16px;
}
.nav-toggle:before {
    color: white !important;
}
.page-header {
    border-bottom: unset !important;
    margin-bottom: unset !important;
}
.page-footer {
    background: black !important;
}

.panel.wrapper {
    background-color: black !important;
    border-bottom: unset !important;
    position: fixed;
    right: 0;
    top: 15px;
    z-index: 11;
}

#responsive_logo {
    display: none !important;
}
.sections.nav-sections {
    background-color: black;
    margin-bottom: unset !important;
    padding: 10px 0 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.submenu {
    background: black !important;
}
.ui-menu-item a {
    color: white !important;
}


@media only screen and (max-width: 1024px) {
    .cwsFeatured .products-grid.grid2 .product-item {
        width: 49% !important;
        margin-bottom: 35px;
    }
    #hamburger-logo {
        display: none;
    }
    .mageFeaturedToolbar {
        display: none !important;
    }
    #maincontent {
        margin-top: unset;
    }
    .minicart-wrapper {
        position: absolute !important;
        top: 15px;
        right: 15px;
    }
    .navigation .level0 .submenu a:hover,
    .navigation .level0 .submenu a.ui-state-focus {
        color: white !important;
    }
    .nav-sections-item-title{
        border: unset !important;
        width: 50% !important;
        background: black !important;
    }
    .nav-sections-item-title.active {
        background: white !important;
    }
    .nav-sections-item-content {
        padding: unset !important;
    }
    .navigation .level0 {
        margin: unset !important;
    }
    .navigation .submenu:not(:first-child) > li > a {
        margin-left: 35%;
        font-size: 30px;
    }
    .product-item {
        overflow: hidden !important;
    }
    .product-item-name {
        text-align: center;
    }
    .product-item-actions {
        font-size: 0;
        text-align: center;
        margin-top: 15px;
    }
    .product-image-container {
        width: 120% !important;
        position: relative;
        right: 25px;
        max-width: unset !important;
    }
    .product-reviews-summary {
        display: none !important;
    }
    #responsive_logo {
        display: none !important;
    }
    .sections.nav-sections {
        padding: unset !important;
    }
    .sections.nav-sections {
        width: 85%;
    }
    .ui-menu-item.all-category {
        display: none;
    }
    .ui-menu {
        text-align: left;
    }
}

@media only screen and (max-width: 800px) {
    #logo-background {
        background-image: url("https://staging.herencia312.com/pub/media/logo/Herencia/mobile-300dpi-retouch-compressed.jpg") !important;
        background-size: 400px 800px !important;
        height: 800px !important;
    }
}

@media only screen and (min-width: 1024px) {
    .page-wrapper {
        margin-top: 67px !important;
    }
    .product-image-container {
        width: 135% !important;
    }
    .product-image-photo {
        max-width: unset !important;
        width: 100%;
    }
}

