#responsive_logo {
    display: none;
}
@media only screen and (max-width: 1024px) {
    #maincontent {
        margin-top: 55px;
    }
    .minicart-wrapper .action.showcart:before {
        color: black !important;
    }
    .nav-toggle:before {
        color: black !important;
    }
    #responsive_logo {
        display: block !important;
        position: absolute;
        width: 10%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 20px;
        z-index: 200;
    }
    .nav-logo{
        position: unset !important;
        height: 40px !important;
    }
}
