<div id="responsive_logo">
    <a href="/">
        <img class="img-responsive nav-logo" src="<?= $block->escapeUrl($block->getUrl('')) ?>pub/media/logo/Herencia/Herencia-312-05-black.svg"/>
    </a>
</div>

